
<body>
<header>Shit I Gotta Fuck*** Get Done </header>
	<ul>
		<% @projects.each do |project| %>
		<li><%= link_to(project.name, project_entries_path(project)) %>
			<% if project.description.present? %>	
			- <%= project.description %>
			<% end %>
		</li>
		<% end %>
	</ul>
<footer>Created by Mr. Pita </footer>
</body>