
<body>
<header>Shit I Gotta Fuck*** Get Done </header>
	<ul>
		<% @projects.each do |project| %>

			<% if project.description.blank? %>
			<li><%= project.name %> 
			<% else %>		
			<li><%= project.name %>	- <%= project.description %></li>
			<% end %>

		<% end %>
	</ul>
<footer>Created by Mr. Pita </footer>
</body>